.button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.sports_app__button--download {
    padding-inline-start: var(--padding-inline-start-text);
    padding-inline-end: var(--padding-inline-end-text);
}

span {
    display: none;
}

.sports_app__navigation a {
    width: 145px;
    height: 44px;
    display: block;
}

.sports_app__navigation ul {
    @include list-reset;
    padding-block-start: 76px;
    padding-block-end: 76px;
}

@media (min-width: 1040px) {
    .button_container {
        justify-content: flex-start;
    }
    .sports_app__navigation a {
        width: 156px;
        height: 47px;
    }
}
