@import "variables";
.feature_experience__header {
    @include style-article-header;
    margin: 0;
    padding-block-start: 52px;
    padding-block-end: 52px;
}

.feature_experience {
    margin: 0;
    padding-inline-start: $feature-default-padding;
    padding-inline-end: $feature-default-padding;
    background-color: #FAFAFA;
}

.feature_experince__heading {
    @include center-header;
}
