@import "variables";
.feature_list__container {
    @include list-reset;
}

.feature_list__item {
    text-align: center;
}

.feature_list__item svg {
    display: inline-block;
    fill: #00ADEE;
}

@media (min-width: 1040px) {
    .feature_list__item svg {
        fill: #FFFFFF;
    }
    .feature_list__item {
        text-align: start;
    }
}
