    @import "variables";
    .featured_wrapper {
        padding: 20px;
    }

    .feature_container_icons {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        @include list-reset;
        li:nth-of-type(1) {
            flex-basis: 50%;
        }
        li:nth-of-type(2) {
            flex-basis: 50%;
        }
        li:nth-of-type(3) {
            flex-basis: 30%;
        }
        li:nth-of-type(4) {
            flex-basis: 40%;
        }
        li:nth-of-type(5) {
            flex-basis: 30%;
        }
        li:nth-of-type(6) {
            flex-basis: 100%;
        }
    }

    .featured_example__header {
        @include style-article-header;
        @include center-header;
    }

    @media (min-width: 1040px) {
        .feature_container_icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            li:nth-of-type(1) {
                flex-basis: auto;
            }
            li:nth-of-type(2) {
                flex-basis: auto;
            }
            li:nth-of-type(3) {
                flex-basis: auto;
            }
            li:nth-of-type(4) {
                flex-basis: auto;
            }
            li:nth-of-type(5) {
                flex-basis: auto;
            }
            li:nth-of-type(6) {
                flex-basis: auto;
            }
        }
        .featured_wrapper {
            max-width: 1114px;
            margin: auto;
        }
    }
