@import "variables";
.feature_experience__information {
    @include style-paragraph;
    padding-block-end: 50px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
}

@media (min-width: 1040px) {
    .feature_experience__information {
        color: #FFFFFF;
        padding: 0;
        text-align: start;
    }
}
