@import "variables";
.featured_examples {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 57px;
    padding-block-end: 71px;
    background-color: #FAFAFA;
}

.featured_container>li {
    padding-block-start: 17px;
    padding-block-end: 17px;
}

#sports_lists {
    display: flex;
    justify-content: space-around;
}

#sports_lists li,
.nbc_sports_lists li {
    padding-inline-start: 37px;
}

.nbc_sports_lists {
    display: flex;
    justify-content: space-around;
}

.featured_example__header {
    @include style-article-header;
}

.featured_examples header {
    @include center-header;
}

@media (min-width: 1040px) {
    .featured_container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        @include list-reset;
    }
    .featured_wrapper {
        max-width: 1114px;
        margin: auto;
    }
    .featured_container>li,
    .featured_examples {
        padding: 0;
    }
}
