@import "variables";
.feature_experience__header {
    @include style-article-header;
    margin: 0;
    padding-block-start: 52px;
    padding-block-end: 52px;
}

.feature_experience {
    margin: 0;
    padding-inline-start: $feature-default-padding;
    padding-inline-end: $feature-default-padding;
    background-color: #FAFAFA;
}

.feature_experince__heading {
    @include center-header;
}

@media (min-width: 1040px) {
    .feature_list__item {
        padding: 0;
    }
    .feature_list__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2;
        column-gap: 90px;
        row-gap: 45px;
    }
    .feature_experience {
        background-color: #00ADEE;
        padding: 0;
    }
    .feature_experience__header {
        color: #FFFFFF;
    }
    .feature_wrapper {
        max-width: 1114px;
        margin: auto;
    }
}
