.nav_twitter {
    background-image: url(../icons/icon_twitter.svg);
    background-repeat: no-repeat;
}

.nav_facebook {
    background-image: url(../icons/icon_facebook.svg);
    background-repeat: no-repeat;
}

.nav_search {
    background-image: url(../icons/icon_instagram.svg);
    background-repeat: no-repeat;
}