header > h1 {
  display: none;
}

.sports_app__text {
  max-width: 178px;
  max-height: 70px;
  display: block;
}
.sports_app__heading {
  font-size: 48px;
  padding-block-start: $header-padding-value;
  padding-block-end: $header-padding-value;
  text-align: flex-start;
}

@media (min-width: 1040px) {
  .sports_app__heading {
    text-align: start;
    padding-inline-start: $header-padding-value;
  }
  .sports_app__text {
    max-width: 92px;
    max-height: 32px;
  }
}
