@media (min-width: 1040px) {
    .sport_app__masthead {
        background-image: url(../img/bg_header.png);
        background-position: 463px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .masthead_wrapper {
        margin: auto;
    }
}

.sport_app__masthead p {
    margin: 0;
}
