.sport_advertisement {
  font-family: lato_bold;
  font-size: var(--font-size-heading-text);
  color: #333333;
  line-height: 40px;
  text-align: center;
  padding-block-start: var(--padding-block-start-text);
  padding-block-end: var(--padding-block-end-text);
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text);
}

.sport_information {
  font-family: lato_regular;
  font-size: var(--font-size-paragraph-text);
  line-height: 23px;
  text-align: center;
  color: #4f4f4f;
  padding-block-start: var(--padding-block-start-text-text);
  padding-block-end: var(--padding-block-end-text);
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text);
}

@media (min-width: 1040px) {
  .sport_advertisement {
    max-width: 546px;
    max-height: 96px;
    font-size: 36px;
    line-height: 48px;
    text-align: left;
  }

  .sport_information {
    max-width: 453px;
    max-height: 52px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
  }
}
