@import "variables";
.user_interface {
    margin: 0;
    padding-inline-start: $user-interface-default-padding;
    padding-inline-end: $user-interface-default-padding;
    padding-block-end: $user-interface-padding-bottom;
}

.user_intrface_article::after {
    background-image: url(../img/bg_friendly_user_interface.png);
    content: "";
    position: relative;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: block;
    background-size: 1500px;
    background-position-x: 50%;
    background-position-y: 50%;
}

@media (min-width: 1040px) {
    .user_intrface_article::after {
        content: "";
        background-image: url(../img/bg_friendly_user_interface.png);
        background-repeat: no-repeat;
        display: block;
        background-size: 1800px;
        position: absolute;
        top: 50%;
        left: calc(50% + 240px);
        transform: translate(-42%, -50%);
    }
    .user_interface {
        max-width: 1114px;
        margin: auto;
    }
    .user_interface_wrapper {
        max-width: 480px;
        padding-block-start: 217px;
        padding-block-end: 171px;
    }
}
