$header-padding-value: 20px;
$body-bg-color: #f4f6f9;
$heading-colors: #333333;
$paragraph-colors:  #4F4F4F;
$header-font-size: 30px;
$paragrph-font-size: 16px;
$reset-margin-default: 0;
$reset-padding-default: 0;
$font-size-link: 16px;
$link-colors: #00ADEE;
$links-line-height-value: 21px;
$user-interface-default-padding: 20px;
$user-interface-padding-bottom: 25px;
$article-line-height-text: 23px;
$article-text-color: #4F4F4F;
$article-header-font-size: 28px;
$article-color-header: #333333;
$article-line-height-header: 37px;
$article-padding-text: 27px;

@mixin list-reset {
  list-style: none;
  padding: $reset-padding-default;
  margin: $reset-margin-default;
}

@mixin style-anchor {
  text-decoration: none;
  color: $link-colors;
  font-family: lato_bold;
  font-size: $font-size-link;
}

@mixin center-header {
  text-align: center;
}

@mixin style-paragraph {
  font-family: lato_regular;
  text-align: center;
  margin: 0;
  line-height: $article-line-height-text;
  font-size: $paragrph-font-size;
  color: $article-text-color;
}

@mixin style-article-header {
  font-size: $article-header-font-size;
  font-family: lato_bold;
  line-height: $article-line-height-header;
  color:  $article-color-header ;
}
