@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

$header-padding-value: 20px;
$body-bg-color: #f4f6f9;
$heading-colors: #333333;
$paragraph-colors:  #4F4F4F;
$header-font-size: 30px;
$paragrph-font-size: 16px;
