.sports_app__navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.sports_app__button--download {
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text);
}

span {
  display: none;
}

@media (min-width: 1040px) {
  .sports_app__navigation {
    justify-content: flex-start;
  }
}
