.sports_app__heading {
  padding-block-start: 30px;
  padding-block-end: 30px;
  font-size: 48px;
  margin: 0;
  text-align: center;
}

@media (min-width: 992px) {
  .sports_app__heading {
    text-align: start;
    padding-inline-start: 20px;
  }
}
