.sports_app__heading {
  padding-block-start: 30px;
  padding-block-end: 30px;
  font-size: 48px;
  margin: 0;
  text-align: center;
  background-image: url(../icons/ball.svg);
  background-repeat: no-repeat;
  background-position: left;
}
@font-face {
  font-family: lato;
  src: url(../fonts/lato_bold_italic.woff),
       url(../fonts/lato_bold_italic.woff2);
}

.sports_app__text {
  text-decoration: none;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #5282F0;
}

@media (min-width: 480px) {
  .sports_app__heading {
    text-align: start;
  }
}
