@font-face {
  font-family: lato_bold;
  font-weight: 700;
  font-style: normal;
  src: local(lato-bold), local(lato bold), url(../fonts/lato_bold.woff2) format("woff2"), url(../fonts/lato_bold.woff) format("woff"); }

@font-face {
  font-family: lato_regular;
  font-weight: normal;
  font-style: normal;
  src: local(lato-regular), local(lato-regular), url(../fonts/lato_regular.woff2) format("woff2"), url(../fonts/lato_regular.woff) format("woff"); }

:root {
  --padding-inline-end-text: $header-padding-value;
  --padding-block-start-text: 20px;
  --padding-inline-start-text: 20px;
  --padding-block-end-text: 20px;
  --font-size-heading-text: $hader-font-size;
  --font-size-paragraph-text: $paragraph-font-size; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.sport_app__masthead {
  background: #f4f6f9; }

@media (min-width: 1040px) {
  :root {
    --font-size-heading-text: 36px;
    --font-size-paragraph-text: 18px; } }

header > h1 {
  display: none; }

.sports_app__text {
  max-width: 178px;
  max-height: 70px;
  display: block; }

.sports_app__heading {
  font-size: 48px;
  padding-block-start: 20px;
  padding-block-end: 20px;
  text-align: flex-start;
  text-align: -webkit-center; }

@media (min-width: 1040px) {
  .sports_app__heading {
    text-align: start;
    padding-inline-start: 20px; }
  .sports_app__text {
    max-width: 92px;
    max-height: 32px; } }

@media (min-width: 1040px) {
  .sport_app__masthead {
    max-width: 100%;
    max-height: 100%;
    background-image: url(../img/bg_header.png);
    background-position: 557px 50px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    margin: auto; } }

.sport_app__masthead p {
  margin: 0; }

.button_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }

.sports_app__button--download {
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text); }

span {
  display: none; }

nav a {
  width: 145px;
  height: 44px;
  display: block; }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

nav {
  padding-block-start: 50px;
  padding-block-end: 59px; }

@media (min-width: 1040px) {
  .button_container {
    justify-content: flex-start; }
  nav a {
    width: 156px;
    height: 47px; } }

.sport_advertisement {
  font-family: lato_bold;
  font-size: var(--font-size-heading-text);
  color: #333333;
  line-height: 40px;
  text-align: center;
  padding-block-start: var(--padding-block-start-text);
  padding-block-end: var(--padding-block-end-text);
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text); }

.sport_information {
  font-family: lato_regular;
  font-size: var(--font-size-paragraph-text);
  line-height: 23px;
  text-align: center;
  color: #4F4F4F;
  padding-block-start: var(--padding-block-start-text);
  padding-block-end: var(--padding-block-end-text);
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text); }

@media (min-width: 1040px) {
  .sport_advertisement {
    max-width: 546px;
    max-height: 96px;
    font-size: 36px;
    line-height: 48px;
    text-align: left; }
  .sport_information {
    max-width: 453px;
    max-height: 52px;
    font-size: 18px;
    line-height: 26px;
    text-align: left; } }

.user_interface {
  margin: 0;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-end: 25px; }

.user_article__heading {
  font-size: 28px;
  font-family: lato_bold;
  line-height: 37px;
  color: #333333; }

.user_article_paragraph {
  font-family: lato_regular;
  text-align: center;
  margin: 0;
  line-height: 23px;
  font-size: 16px;
  color: #4F4F4F;
  margin: 0;
  padding-block-start: 27px;
  padding-block-end: 27px; }

.user_article__heading--text {
  margin: 0;
  padding-block-start: 27px;
  padding-block-end: 27px; }

@media (min-width: 1040px) {
  .user_article__heading--text,
  .user_article_paragraph {
    text-align: start; } }

.user_interface__navigation,
.user_article__heading,
.user_interface_heading {
  text-align: center; }

.user_interface_heading,
.user_interface__navigation {
  line-height: 21px; }

.user_interface_heading--text,
.user_interface__navigation--text {
  text-decoration: none;
  color: #00ADEE;
  font-family: lato_bold;
  font-size: 16px; }

@media (min-width: 1040px) {
  .user_interface_heading,
  .user_interface__navigation {
    text-align: start; } }

.feature_experience__header {
  font-size: 28px;
  font-family: lato_bold;
  line-height: 37px;
  color: #333333;
  margin: 0;
  padding-block-start: 52px;
  padding-block-end: 52px; }

.feature_experience {
  margin: 0;
  padding-inline-start: 21px;
  padding-inline-end: 21px;
  background-color: #FAFAFA; }

.feature_experince__heading {
  text-align: center; }

@media (min-width: 1040px) {
  .feature_list__item {
    padding: 0; }
  .feature_list__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    column-gap: 90px;
    row-gap: 45px; }
  .feature_experience {
    background-color: #00ADEE;
    padding: 0; }
  .feature_experience__header {
    color: #FFFFFF; }
  .feature_wrapper {
    max-width: 1114px;
    margin: auto; } }

.feature_experience__information {
  font-family: lato_regular;
  text-align: center;
  margin: 0;
  line-height: 23px;
  font-size: 16px;
  color: #4F4F4F;
  padding-block-end: 50px;
  padding-inline-start: 24px;
  padding-inline-end: 24px; }

@media (min-width: 1040px) {
  .feature_experience__information {
    color: #FFFFFF; } }

.feature_list__container {
  list-style: none;
  padding: 0;
  margin: 0; }

.feature_list__item {
  text-align: center; }

.feature_list__item svg {
  display: inline-block;
  fill: #00ADEE; }

@media (min-width: 1040px) {
  .feature_list__item svg {
    fill: #FFFFFF; } }

body > footer {
  background-color: #00ADEE;
  margin: 0;
  padding-inline-start: 20px;
  padding-inline-end: 20px; }

.navigation_container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: start; }

.navigation_container a {
  text-decoration: none;
  color: #00ADEE;
  font-family: lato_bold;
  font-size: 16px;
  color: white; }

@media (min-width: 1040px) {
  body > footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 116px; }
  .navigation_primary {
    grid-column-start: 3;
    grid-row-end: 1; }
  .navigation_secondary {
    grid-column-start: 2; } }

.sport_tv {
  background-image: url(../icons/logo_sports_tv.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.sports {
  background-image: url(../icons/logo_sports_channel.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.nbc_sport {
  background-image: url(../icons/logo_nbc_sports.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.design_tech {
  background-image: url(../icons/logo_designer_technology.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.design_new {
  background-image: url(../icons/logo_designer_news.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.sky_sport {
  background-image: url(../icons/logo_sky_sports.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.featured_container {
  display: flex; }

.featured_example__header {
  font-size: 28px;
  font-family: lato_bold;
  line-height: 37px;
  color: #333333; }

.featured_examples header {
  text-align: center; }

.nav_twitter {
  background-image: url(../icons/icon_twitter.svg);
  background-repeat: no-repeat; }

.nav_facebook {
  background-image: url(../icons/icon_facebook.svg);
  background-repeat: no-repeat; }

.nav_search {
  background-image: url(../icons/icon_instagram.svg);
  background-repeat: no-repeat; }
