:root {
  --padding-paragraph-text : 20px;
}
.sport_information {
  font-size: 16px;
  line-height: 23px;
  padding-block-start: var(--padding-paragraph-text);
  padding-block-end: var(--padding-paragraph-text);
  text-align: center;
  padding-inline-start: var(--padding-paragraph-text);
  padding-inline-end: var(--padding-paragraph-text);
}
.sport_advertisement {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  padding-inline-start: var(--padding-paragraph-text);
  padding-inline-end: var(--padding-paragraph-text);
  padding-block-start: var(--padding-paragraph-text);
  padding-block-end: var(--padding-paragraph-text);
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sports_app__button--download {
  padding-inline-start: var(--padding-paragraph-text);
  padding-inline-end: var(--padding-paragraph-text);
}
