:root {
  --padding-paragraph-text : 20px;
  --padding-vertical-paragraph-text : 20px;
  --font-size-heading-text: 30px;
  --font-size-paragraph-text: 16px;
}
@font-face {
  font-family: lato;
  src: url(../fonts/lato_bold.woff2),
       url(../fonts/lato_bold.woff);
}

@font-face {
  font-family: lato;
  src: url(../fonts/lato_regular.woff2),
       url(../fonts/lato_regular.woff);
}

.sport_information {
  font-size: var(--font-size-paragraph-text);
  line-height: 23px;
  font-weight: normal;
  color: #4F4F4F;
  padding-block-start: var(--padding-paragraph-text);
  padding-block-end: var(--padding-paragraph-text);
  text-align: center;
  padding-inline-start: var(--padding-vertical-paragraph-text);
  padding-inline-end: var(--padding-vertical-paragraph-text);
  font-family: Lato, Arial, Helvetica, sans-serif;
}
.sport_advertisement {
  font-size: var(--font-size-heading-text);
  line-height: 40px;
  text-align: center;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #333333;
  padding-inline-start: var(--padding-vertical-paragraph-text);
  padding-inline-end: var(--padding-vertical-paragraph-text);
  padding-block-start: var(--padding-paragraph-text);
  padding-block-end: var(--padding-paragraph-text);
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sports_app__button--download {
  padding-inline-start: var(--padding-paragraph-text);
  padding-inline-end: var(--padding-paragraph-text);
}

@media (min-width: 480px) {
  :root {
    --padding-paragraph-text : 20px;
    --font-size-heading-text: 36px;
    --font-size-paragraph-text: 18px;
  }

  .sport_advertisement {
    text-align: start;
  }
  .sport_information {
    text-align: start;
  }
  .sports_app__header {
    background-image: url(../img/bg_header.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
