:root {
  --padding-inline-end-text : 20px;
  --padding-block-start-text : 20px;
  --padding-inline-start-text : 20px;
  --padding-block-end-text : 20px;
  --font-size-heading-text: 30px;
  --font-size-paragraph-text: 16px;
}
@font-face {
  font-family: lato;
  src: url(../fonts/lato_bold.woff2),
       url(../fonts/lato_bold.woff);
}

@font-face {
  font-family: lato;
  src: url(../fonts/lato_regular.woff2),
       url(../fonts/lato_regular.woff);
}

.sport_information {
  font-size: var(--font-size-paragraph-text);
  line-height: 23px;
  font-weight: normal;
  color: #4F4F4F;
  padding-block-start: var(--padding-block-start-text-text);
  padding-block-end: var(--padding-block-end-text);
  text-align: center;
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text);
  font-family: Lato, Arial, Helvetica, sans-serif;
}
.sport_advertisement {
  font-size: var(--font-size-heading-text);
  line-height: 40px;
  text-align: center;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #333333;
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text);
  padding-block-start: var(--padding-block-start-text);
  padding-block-end: var(--padding-block-end-text);
}

.sports_app__navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

span {
  display: none;
}
.sports_app__image {
  display: none;
}

.sports_app__button--download {
  padding-inline-start: var(--padding-inline-start-text);
  padding-inline-end: var(--padding-inline-end-text);
}

@media (min-width:992px) {
  :root {
  --padding-inline-end-text : 20px;
  --padding-block-start-text : 20px;
  --padding-inline-start-text : 20px;
  --padding-block-end-text : 20px;
  --font-size-heading-text: 36px;
  --font-size-paragraph-text: 18px;
  }

  .sport_advertisement {
    text-align: start;
  }
  .sport_information {
    text-align: start;
  }
  .sport_app__masthead {
    background: #F4F6F9;
  }
  .sports_app__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .sports_app__image {
    display: block;
  }
  .sport_app__masthead {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}
